.card-square.mdl-card {
  width: 400px;
  height: 400px;
}
.full {
    width: 100%;
    height: 100%;
}
.dog-card > .mdl-card__title {
  color: #fff;
  background:
    url('http://www.getmdl.io/assets/demos/dog.png') bottom right 15% no-repeat #46B6AC;
}
.center {
    align-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
}
.left {
    float: left;
}
.right {
    float: right;
}